wandb==0.25.1
opentelemetry-api==1.25.0
QDarkStyle==3.2.3
graphene==3.3
typer==0.12.3
nbclient==0.10.0
eo-learn-io==1.5.0
ipython==8.25.0
scs==3.2.4.post2
cupy-cuda12x==13.1.0
PyTurboJPEG==1.7.3
ninja==1.11.1.1
fastargs==1.2.0
rfc3339-validator==0.1.4
pyparsing==3.1.2
tinycss2==1.3.0
dask-jobqueue==0.8.2
HeapDict==1.0.1
fastjsonschema==2.19.1
s3transfer==0.10.1
kubernetes==30.1.0
idr-env-protect==2.0.0
accelerate==0.31.0
argparse==1.4.0
tinycudann==1.7
triton==2.3.1
librosa==0.10.2.post1
runstats==2.0.0
cligj==0.7.2
json5==0.9.25
aiofiles==23.2.1
asn1crypto==1.5.1
cookiecutter==2.6.0
numba==0.59.1
python-multipart==0.0.9
multidict==6.0.5
srsly==2.4.8
pip==24.0
transformers==4.41.2
trimesh==4.4.1
pyproject_hooks==1.1.0
pexpect==4.9.0
platformdirs==4.2.2
rich==13.7.1
megatron-lm==3.0.0
asgiref==3.8.1
pytorch-ignite==0.5.0.post2
colorful==0.5.6
pybind11-global==2.12.0
soxr==0.3.7
av==12.1.0
unittest2==1.1.0
pyproj==3.6.1
dglgo==0.0.2
Unidecode==1.2.0
idna==3.7
typing-inspect==0.9.0
iniconfig==1.1.1
tabulate==0.9.0
pytorch-msssim==1.0.0
imbalanced-learn==0.12.3
nltk==3.8.1
embreex==2.17.7.post4
photutils==1.12.0
gradio_client==1.0.1
addict==2.4.0
certifi==2025.1.31
jupyter_core==5.7.2
typing_extensions==4.12.1
weasel==0.4.1
pytz==2024.1
lazy_loader==0.4
atomicwrites==1.4.1
jsonschema==4.22.0
cytoolz==0.12.2
preshed==3.0.9
sphinxcontrib-jsmath==1.0.1
types-python-dateutil==2.9.0.20240316
hjson==3.1.0
tyro==0.8.4
gmpy2==2.1.2
terminaltables==3.1.10
eo-learn-geometry==1.5.0
fastapi-cli==0.0.4
snowballstemmer==2.2.0
vhacdx==0.0.6
argon2-cffi==23.1.0
tornado==6.4
h11==0.14.0
umap-learn==0.5.6
pytoolconfig==1.3.1
py-spy==0.3.14
aniso8601==9.0.1
async-lru==2.0.4
partd==1.4.1
idr-pypi==1.0.0
QtPy==2.4.1
parameterized==0.9.0
sortedcontainers==2.4.0
xmltodict==0.13.0
mistune==3.0.2
filetype==1.2.0
aenum==3.1.15
altair==5.3.0
prometheus_client==0.20.0
cmake==3.29.5
mccabe==0.7.0
kornia==0.7.2
spacy-legacy==3.0.12
absl-py==2.1.0
prompt_toolkit==3.0.46
sphinxcontrib-serializinghtml==1.1.10
backoff==2.2.1
imutils==0.5.4
rasterio==1.3.10
orjson==3.10.3
pytorch-lightning==2.2.5
frozenlist==1.4.1
opentelemetry-exporter-otlp-proto-grpc==1.25.0
ipywidgets==8.1.3
nvidia-nvimgcodec-cu12==0.2.0.7
jedi==0.18.1
aim==3.20.1
parso==0.8.4
torch_scatter==2.1.2
querystring-parser==1.2.4
pynndescent==0.5.12
annotated-types==0.7.0
graphviz==0.20.3
docstring_parser==0.16
optree==0.11.0
zict==3.0.0
importlib_resources==6.4.0
geopandas==0.14.4
uri-template==1.3.0
httptools==0.6.1
tblib==1.7.0
pytest==7.4.4
rdkit-pypi==2022.9.5
fastrlock==0.8.2
bkcharts==0.2
marshmallow==3.21.3
unicodecsv==0.14.1
jupyter-console==6.6.3
mizani==0.11.4
safetensors==0.4.3
flax==0.8.4
expecttest==0.2.1
google-auth==2.30.0
tomlkit==0.12.0
assertpy==1.1
xxhash==3.4.1
Flask==3.0.3
kiwisolver==1.4.5
wrapt==1.16.0
natsort==8.4.0
svg.path==6.3
jaraco.classes==3.4.0
idr_torch==2.1.0
python-lsp-jsonrpc==1.1.2
cloudpickle==3.0.0
msgpack==1.0.3
pkginfo==1.11.1
qudida==0.0.4
aimrocks==0.4.0
fs==2.4.16
jellyfish==1.0.4
idr-accelerate==2.0.1
fqdn==1.5.1
smart-open==7.0.4
jsonpointer==2.4
Send2Trash==1.8.3
botocore==1.34.122
apex==0.1
seaborn==0.13.2
PyQt5==5.15.10
ffcv==1.0.2
PyQt5-Qt5==5.15.2
setproctitle==1.3.3
importlib_metadata==7.1.0
fastdownload==0.0.7
alabaster==0.7.16
aim-ui==3.20.1
portalocker==2.8.2
PyQtWebEngine-Qt5==5.15.2
torch_cluster==1.6.3
graphql-core==3.2.3
setuptools==69.5.1
bitsandbytes==0.43.1
pyasn1_modules==0.4.0
nvidia-ml-py==12.555.43
nh3==0.2.17
httpx==0.27.0
aiohttp-cors==0.7.0
bleach==6.1.0
pyFFTW==0.13.1
orbax-checkpoint==0.5.16
linkify-it-py==2.0.3
twine==5.1.0
jsonpatch==1.33
spatialite==0.0.3
speechbrain==1.0.0
isort==5.13.2
psutil==5.9.8
posthog==3.5.0
albucore==0.0.9
openfile==0.0.7
base58==2.0.1
pycountry==24.6.1
jupyter_server_terminals==0.5.3
numpy==1.26.4
pccm==0.4.11
urllib3==2.2.1
wcwidth==0.2.13
prometheus-fastapi-instrumentator==7.0.0
mypy-extensions==1.0.0
opentelemetry-proto==1.25.0
opentelemetry-util-http==0.46b0
torchio==0.19.6
langchain-text-splitters==0.2.1
robust-laplacian==0.2.7
huggingface-hub==0.23.3
fsspec==2024.3.1
nibabel==5.2.1
pyerfa==2.0.1.4
ccimport==0.4.2
appdirs==1.4.4
spacy-loggers==1.0.5
lpips==0.1.4
python-lsp-black==2.0.0
scipy==1.13.1
contourpy==1.2.1
opentelemetry-instrumentation-asgi==0.46b0
lm-format-enforcer==0.10.1
ultralytics-thop==0.2.8
pydantic_core==2.18.4
webdataset==0.2.86
colorlog==6.8.2
multipledispatch==0.6.0
comm==0.2.2
dask-expr==1.1.0
tensorboard-data-server==0.7.2
ruamel.yaml==0.18.6
jupyter_nbextensions_configurator==0.6.4
Mako==1.3.5
anyio==4.4.0
plotly==5.22.0
rope==1.13.0
pytorchvideo==0.1.5
pillow==11.1.0
pydub==0.25.1
semantic-version==2.10.0
pretrainedmodels==0.7.4
future==1.0.0
grpcio==1.64.1
cumm-cu120==0.4.11
pure-eval==0.2.2
widgetsnbextension==4.0.11
wasabi==1.1.3
google-api-core==2.19.0
singledispatch==3.7.0
python-lsp-server==1.11.0
pyzmq==26.0.3
chex==0.1.86
terminado==0.18.1
PyNaCl==1.5.0
sphinxcontrib-htmlhelp==2.0.5
braceexpand==0.1.7
fastcore==1.5.45
nvidia-dali-cuda120==1.38.0
tqdm==4.66.4
lmdb==1.4.1
idris==1.0.0
pygraphviz==1.9
backports.tarfile==1.2.0
fabric==2.6.0
tifffile==2024.5.22
arrow==1.3.0
opencv-python==4.10.0.82
debugpy==1.8.1
matplotlib==3.9.0
pycparser==2.22
pooch==1.8.2
pycollada==0.8
QtAwesome==1.3.1
overrides==7.7.0
nest-asyncio==1.6.0
pytorch-fast-transformers==0.4.0
vllm-flash-attn==2.5.8.post2
slicer==0.0.8
mock==4.0.3
fs-s3fs==1.1.1
eo-learn-visualization==1.5.0
proto-plus==1.23.0
mapbox-earcut==1.0.1
memray==1.12.0
pyarrow-hotfix==0.6
cloudpathlib==0.18.1
openai==1.33.0
tzdata==2024.1
dgl==2.1.0
captum==0.7.0
snuggs==1.4.7
littleutils==0.2.2
lightning-utilities==0.11.2
ray==2.24.0
distarray==0.6.0
language_data==1.2.0
rfc3986==2.0.0
sympy==1.12.1
sentencepiece==0.2.0
uc-micro-py==1.0.3
moses==0.10.0
spconv-cu120==2.3.6
plyfile==1.0.3
confection==0.1.5
smmap==5.0.1
xarray==2024.5.0
onnxruntime==1.18.0
distro==1.9.0
opencensus==0.11.4
eagerpy==0.30.0
outlines==0.0.43
nvidia-nsys-cli==2021.3.2.12
imagesize==1.4.1
httpcore==1.0.5
markdown-it-py==3.0.0
packaging==23.2
astropy==6.1.0
xeus-python==0.15.12
pygeoif==0.7
tomli==2.0.1
jaxlib==0.4.28.dev20240617
jsonschema-specifications==2023.12.1
Jinja2==3.1.4
uvicorn==0.30.1
bcrypt==4.1.3
humanfriendly==10.0
xgboost==2.0.3
hydra-core==1.3.2
uctools==1.3.0
mmh3==4.1.0
basicsr==1.4.2
oauthlib==3.2.2
rpds-py==0.18.1
omegaconf==2.3.0
sox==1.5.0
fiona==1.9.6
aiohttp==3.9.5
mdit-py-plugins==0.4.1
tokenizers==0.19.1
imageio==2.34.1
defusedxml==0.7.1
pyasn1==0.6.0
pydocstyle==6.3.0
shellingham==1.5.4
PyYAML==6.0.1
nvidia-dlprof-pytorch-nvtx==1.8.0
types-dataclasses==0.6.6
pyxdg==0.28
plotnine==0.13.6
audioread==3.0.1
tiktoken==0.7.0
opentelemetry-instrumentation==0.46b0
etils==1.9.2
zipp==3.19.2
toolz==0.12.0
opencensus-context==0.1.3
diskcache==5.6.3
jupyter_client==8.6.2
iopath==0.1.10
pylint==3.2.2
pycodestyle==2.11.1
pluggy==1.5.0
diff-match-patch==20230430
llvmlite==0.42.0
opt-einsum==3.3.0
torch-ema==0.3
simplegeneric==0.8.1
ml-dtypes==0.4.0
lark==1.1.9
entrypoints==0.4
textual==0.67.1
osqp==0.6.7
qtconsole==5.5.2
boto==2.49.0
mlflow==2.13.2
xeus-python-shell==0.5.0
efficientnet_pytorch==0.7.1
torchinfo==1.8.0
torch_geometric==2.5.3
pycairo==1.23.0
cymem==2.0.8
jeepney==0.8.0
requests==2.32.3
jupyter_contrib_core==0.4.2
albumentations==1.4.8
referencing==0.35.1
thinc==8.2.4
pyls-spyder==0.4.0
PyWavelets==1.6.0
itsdangerous==2.2.0
ujson==5.10.0
jupyterlab_server==2.27.2
torch_sparse==0.6.18
blinker==1.6.2
swifter==1.4.0
charset-normalizer==3.3.2
HyperPyYAML==1.2.2
simplejson==3.19.2
patsy==0.5.6
sphinxcontrib-qthelp==1.0.7
mpmath==1.3.0
torchensemble==0.2.0
jax==0.4.28
spyder-kernels==2.5.1
xformers==0.0.27+fad50d4.d20240612
pycurl==7.45.2
wheel==0.43.0
argon2-cffi-bindings==21.2.0
filelock==3.14.0
decorator==5.1.1
kornia_rs==0.1.3
pandocfilters==1.5.1
wandb==0.17.1
pydantic==2.7.3
boto3==1.34.122
docopt==0.6.2
langchain==0.2.3
pytorch-pfn-extras==0.7.6
monai==1.3.1
jupyterlab_widgets==3.0.11
humanize==4.9.0
einops==0.8.0
attrs==23.2.0
fvcore==0.1.6
opentelemetry-instrumentation-fastapi==0.46b0
uvloop==0.19.0
pyflakes==3.2.0
softadapt==0.0.5
SecretStorage==3.3.3
marisa-trie==1.2.0
fastkml==0.12
segmentation-models-pytorch==0.3.3
traceback2==1.4.0
optax==0.2.2
docker==7.1.0
virtualenv==20.26.2
jaraco.context==5.3.0
inflection==0.5.1
webencodings==0.5.1
pathlib2==2.3.6
googleapis-common-protos==1.63.1
clip==0.2.0
GitPython==3.1.43
python-dotenv==1.0.1
tensorboardX==2.6.2.2
opentelemetry-exporter-otlp-proto-common==1.25.0
python-louvain==0.16
batchgenerators==0.25
xlwt==1.3.0
isoduration==20.11.0
toolwrapper==2.1.0
soundfile==0.12.1
pafit==2.0.8
pickleshare==0.7.5
SimpleITK==2.3.1
eo-learn==1.5.4
scalene==1.5.41
lief==0.14.1
notebook==6.4.12
fonttools==4.53.0
nbformat==5.10.4
tensorstore==0.1.61
monotonic==1.6
multiprocess==0.70.16
qstylizer==0.2.2
distributed==2024.5.0
plotbin==3.1.5
executing==2.0.1
dill==0.3.8
invoke==1.6.0
text-unidecode==1.3
tensorboard==2.16.2
odl==1.0.0.dev0
folium==0.16.0
distlib==0.3.8
imageio-ffmpeg==0.5.1
lightning==2.2.5
eo-learn-ml-tools==1.5.0
statsmodels==0.14.2
pathspec==0.12.1
catalogue==2.0.10
astropy-iers-data==0.2024.6.10.0.30.47
mosestokenizer==1.2.1
cachetools==5.3.3
aiosignal==1.3.1
datasets==2.19.2
fastprogress==1.0.3
gradio==4.36.1
sacremoses==0.0.53
sentry-sdk==2.5.1
pyconll==3.2.0
six==1.16.0
jupyter_tensorboard==0.2.0
keyring==25.2.1
whatthepatch==1.0.5
jmespath==1.0.1
termcolor==2.4.0
docutils==0.21.2
three-merge==0.1.1
jupyterlab_pygments==0.3.0
ruamel.yaml.clib==0.2.8
peft==0.11.1
compressai==1.2.6
olefile==0.46
starlette==0.37.2
geographiclib==2.0
Rtree==1.2.0
wurlitzer==3.1.0
opencv-python-headless==4.10.0.82
gunicorn==22.0.0
watchdog==4.0.1
shtab==1.7.1
Bottleneck==1.3.8
awscli==1.33.4
vllm==0.5.0+cu122
diffcp==1.0.23
nbconvert==7.16.4
gitdb==4.0.11
build==1.2.1
pyodbc==5.0.1
torch==2.3.0
sqlparse==0.5.0
fastai==2.7.15
SQLAlchemy==2.0.30
torchdata==0.7.1
email_validator==2.1.1
langchain-core==0.2.5
utm==0.7.0
Markdown==3.6
ecos==2.0.13
linecache2==1.0.0
python-hostlist==1.23.0
rsa==4.7.2
paramiko==2.8.1
docstring-to-markdown==0.15
pynvml==11.5.0
MarkupSafe==2.1.5
threadpoolctl==3.5.0
munch==4.0.0
lapjv==1.3.24
clarabel==0.9.0
bokeh==3.4.1
openai-whisper==20231117
optuna-distributed==0.7.0
py-cpuinfo==9.0.0
websocket-client==1.8.0
ffmpy==0.3.2
backports.os==0.1.1
ipython-genutils==0.2.0
PyPika==0.48.9
timm==0.9.2
torch_spline_conv==1.2.2
opentelemetry-sdk==1.25.0
foolbox==3.3.4
pyairports==2.1.1
cvxpy==1.5.1
rawpy==0.21.0
jaraco.functools==4.0.1
outdated==0.2.2
beautifulsoup4==4.12.3
antlr4-python3-runtime==4.9.3
aimrecords==0.0.7
tenacity==8.3.0
binaryornot==0.4.4
ipyparallel==8.8.0
biopython==1.83
ogb==1.3.6
rfc3986-validator==0.1.1
ultralytics==8.2.31
interegular==0.3.3
graphql-relay==3.2.0
matplotlib-inline==0.1.7
astunparse==1.6.3
XlsxWriter==3.1.1
coloredlogs==15.0.1
soupsieve==2.5
dm-tree==0.1.8
evaluate==0.4.2
qdldl==0.1.7.post2
RestrictedPython==7.1
xyzservices==2024.6.0
eo-learn-features==1.5.0
flake8==7.0.0
blis==0.7.11
docker-pycreds==0.4.0
sniffio==1.3.1
fastapi==0.111.0
black==24.4.2
jupyterlab==4.2.1
eo-learn-core==1.5.0
python-slugify==8.0.4
diffusers==0.30.3
sphinxcontrib-devhelp==1.0.6
networkx==3.2.1
Sphinx==7.3.7
click==8.1.7
dask==2024.5.0
ipykernel==6.29.4
chroma-hnswlib==0.7.3
torchmetrics==1.4.0.post0
requests-oauthlib==2.0.0
torch-tb-profiler==0.4.3
langcodes==3.4.0
requests-toolbelt==1.0.0
colorama==0.4.6
dataclasses-json==0.6.7
joblib==1.4.2
websockets==11.0.3
spacy==3.7.5
scikit-image==0.23.2
webcolors==24.6.0
dnspython==2.6.1
jupyter-events==0.10.0
langsmith==0.1.77
yacs==0.1.8
sentinelhub==3.10.2
Werkzeug==3.0.3
readme_renderer==43.0
sphinxcontrib-websupport==1.2.4
pylint-venv==3.0.3
sphinxcontrib-applehelp==1.0.8
affine==2.4.0
more-itertools==10.2.0
regex==2024.5.15
traitlets==5.14.3
hypothesis==6.103.1
yarl==1.9.4
python-dateutil==2.9.0.post0
watchfiles==0.22.0
jupyter-lsp==2.2.5
sentence-transformers==3.0.1
tomli_w==1.0.0
glob2==0.7
chardet==5.2.0
tb-nightly==2.19.0a20241001
mdurl==0.1.2
murmurhash==1.0.10
click-plugins==1.1.1
xatlas==0.0.9
opentelemetry-semantic-conventions==0.46b0
pytorch3d==0.7.6
astroid==3.2.2
ruff==0.4.8
mlconfig==0.2.1
autopep8==2.0.4
spyder==5.5.4
locket==1.0.0
fastmri==0.3.0
cycler==0.12.1
ply==3.11
gast==0.5.3
nvidia-dlprof==1.8.0
deepspeed==0.14.2
ptyprocess==0.7.0
findiff==0.10.0
Babel==2.15.0
scikit-learn==1.5.0
alembic==1.13.1
h5py==3.11.0
protobuf==4.25.3
shapely==2.0.4
Pygments==2.18.0
intervaltree==3.1.0
bitarray==2.5.1
shap==0.45.1
faiss==1.8.0
flash_attn==2.5.9
guppy3==3.1.4.post1
asttokens==2.4.1
lxml==5.2.1
pandas==2.2.2
fire==0.6.0
Cython==3.0.10
notebook_shim==0.2.4
cryptography==42.0.8
pybind11==2.12.0
optuna==3.6.1
greenlet==3.0.3
yapf==0.40.2
torchviz==0.0.2
python-json-logger==2.0.7
mpi4py==3.1.6
numpydoc==1.7.0
branca==0.7.2
jupyter==1.0.0
chromadb==0.5.0
Deprecated==1.2.14
PyQtWebEngine==5.15.6
pyarrow==15.0.2
dataclasses==0.6
flatbuffers==24.3.25
textdistance==4.6.2
cvxpylayers==0.1.6
global-land-mask==1.0.0
jupyter_server==2.14.1
cffi==1.16.0
stack-data==0.6.3
potpourri3d==1.0.0
PyQt5-sip==12.13.0
torchaudio==2.3.0+952ea74
torchvision==0.18.0a0+6043bc2
horovod==0.28.1
astra-toolbox==2.1.3
